body {
	margin: 0;
	font-family: Arial, sans-serif;
	overflow-x: hidden;
	background-color: #333; /* グレーの背景を設定 */
  }
  
  nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.9); /* 背景色を設定 */
	z-index: 1000; /* 他の要素より手前に表示するための z-index */
  }
  
  nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex; /* 横並びにする */
  }
  
  nav ul li {
	margin-right: 20px;
  }
  
  nav ul li a {
	text-decoration: none;
	color: #000; /* テキストカラーを黒に変更 */
  }
  
  nav ul li a.active {
	font-weight: bold;
  }
  
  .container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh; /* ウィンドウの高さいっぱいに表示 */
	background-color: rgba(0, 0, 0, 0.5); /* グレーの半透明背景 */
  }
  
  .content {
	text-align: center;
	color: #fff; /* テキストを白に設定 */
  }
  
  h1 {
	font-size: 72px; /* テキストサイズを大きく */
  }
  
  #scrollText, #percentage {
	font-size: 24px; /* スクロールメッセージのテキストサイズを大きく */
  }
  
  .hide {
	display: none;
  }

